# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.FinalProjectDemo.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\danzh\source\repos\FinalProjectDemo\.idea\.idea.FinalProjectDemo.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
